:root,
    :root.classic {
    --sq-bg-color: lightgrey;
    --bg-color: lightgrey;
    --bord-style: outset;
    --bord-radius: 0px;
    --bord-width: 3px;
    --bord-color: rgb(242, 242, 242);
    --checked-bg-color: lightgrey;
    --checked-bord-style: solid;
    --checked-bord-color: darkgrey;
    --checked-bord-radius: none;
    --checked-bord-width: 1px;
    --text-color: black;
    --bomb-bg-color: red;
    --restart-bg-color: green;
    --restart-bg-color-hover: darkgreen;
    --restart-text-color: white;
    --popup-bg-color: rgba(255,0,0,1);

    }
    :root.ocean {
        --sq-bg-color: rgb(73,156,199);
        --bg-color: rgb(73,156,199);
        --bord-style: outset;
        --bord-radius: 0px;
        --bord-width: 3px;
        --bord-color: rgb(111, 196, 238);
        --checked-bg-color: rgb(38, 118, 158);
        --checked-bord-style: solid;
        --checked-bord-color: rgb(38, 118, 158);
        --checked-bord-radius: none;
        --checked-bord-width: 1px;
        --text-color: white;
        --bomb-bg-color: rgb(5, 53, 77);
        --restart-bg-color: rgb(38, 118, 158);
        --restart-bg-color-hover: rgb(5, 53, 77);
        --restart-text-color: white;
        --popup-bg-color: rgba(252,80,48,0.9);
    }
    :root.garden {
        --sq-bg-color: rgb(163,205,119);
        --bg-color: rgb(163,205,119);
        --bord-style: outset;
        --bord-radius: 0px;
        --bord-width: 3px;
        --bord-color: rgb(163,205,119);
        --checked-bg-color: rgb(114, 160, 66);
        --checked-bord-style: solid;
        --checked-bord-color: rgb(114, 160, 66);
        --checked-bord-radius: none;
        --checked-bord-width: 1px;
        --text-color: rgb(241, 255, 226);
        --bomb-bg-color: rgb(40, 74, 3);
        --restart-bg-color: rgb(90, 130, 47);
        --restart-bg-color-hover: rgb(40, 74, 3);
        --restart-text-color: white;
        --popup-bg-color: rgba(255,90,137,0.9);
    }
    :root.space {
        --sq-bg-color: rgb(25,30,49);
        --bg-color: rgb(25,30,49);
        --bord-style: outset;
        --bord-radius: 0px;
        --bord-width: 3px;
        --bord-color: rgb(55, 61, 83);
        --checked-bg-color: rgb(36, 43, 68);
        --checked-bord-style: solid;
        --checked-bord-color: rgb(36, 43, 68);
        --checked-bord-radius: none;
        --checked-bord-width: 1px;
        --text-color: rgb(229, 234, 250);
        --bomb-bg-color: rgb(246, 157, 23);
        --restart-bg-color: rgb(246, 157, 23);
        --restart-bg-color-hover: rgb(214, 130, 3);
        --restart-text-color: black;
        --popup-bg-color: rgba(246, 157, 23, 0.9);
    }



body {
    padding-top: 30px;
}

.title {
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;

}

.options {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
   

}

.grid {
    height: 400px;
    width: 400px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    margin: auto;
}

.grid div {
    background-color: var(--sq-bg-color);
    display: flex;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: var(--bord-style);
    border-radius: var(--bord-radius);
    border-width: var(--bord-width);
    border-color: var(--bord-color);
}

.show-clicked-bomb {
    background-color: var(--bomb-bg-color) !important;
    border-radius: none !important;
    border-width: none !important;
    border-style: none !important;
}

.checked {
    color: var(--text-color) !important;
    border-radius: var(--checked-bord-radius) !important;
    border-width: var(--checked-bord-width) !important;
    border-color: var(--checked-bord-color) !important;
    border-style: var(--checked-bord-style) !important;
    background-color: var(--checked-bg-color) !important;
    transition: transform .3s, border-radius .3s;
}

.restart {
    background-color: var(--restart-bg-color); 
    border: none;
    color: var(--restart-text-color);
    padding: 12px 32px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.restart:hover {
    background-color: var(--restart-bg-color-hover); 
    color: var(--restart-text-color);
    transform: scale(1.1);
}

.pop-up-banner {
    width: 300px;
    height: 35px;
    border-radius: 3px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0) scale(0.1);
    text-align: center;
    font-size: 30px;
    padding: 25px 30px 30px;
    background-color: var(--popup-bg-color);
    color: white;
    visibility: hidden;
    transition: transform 0.1s;
}



.open-popup {
    visibility: visible;
    transform: translate(-50%,0) scale(1);
}

.close {
    font-size: 45px;
    font-weight: 600;
    color: black;
    display: inline-block;
    transform: rotate(45deg);
  }