:root,
    :root.classic {
    --sq-bg-color: lightgrey;
    --bg-color: lightgrey;
    --bord-style: outset;
    --bord-radius: 0px;
    --bord-width: 3px;
    --bord-color: rgb(242, 242, 242);
    --checked-bg-color: lightgrey;
    --checked-bord-style: solid;
    --checked-bord-color: darkgrey;
    --checked-bord-radius: none;
    --checked-bord-width: 1px;
    --text-color: black;
    --bomb-bg-color: red;
    --restart-bg-color: green;
    --restart-bg-color-hover: darkgreen;

    }
    :root.ocean {
        --sq-bg-color: rgb(73,156,199);
        --bg-color: rgb(73,156,199);
        --bord-style: outset;
        --bord-radius: 0px;
        --bord-width: 3px;
        --bord-color: rgb(111, 196, 238);
        --checked-bg-color: rgb(38, 118, 158);
        --checked-bord-style: solid;
        --checked-bord-color: rgb(38, 118, 158);
        --checked-bord-radius: none;
        --checked-bord-width: 1px;
        --text-color: white;
        --bomb-bg-color: rgb(5, 53, 77);
        --restart-bg-color: rgb(38, 118, 158);
        --restart-bg-color-hover: rgb(5, 53, 77);
    }




body {
    padding-top: 100px;
}

.grid {
    height: 400px;
    width: 400px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    margin: auto;
}

.grid div {
    background-color: var(--sq-bg-color);
    display: flex;
    height: 40px;
    width: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: var(--bord-style);
    border-radius: var(--bord-radius);
    border-width: var(--bord-width);
    border-color: var(--bord-color);
}

.show-clicked-bomb {
    background-color: var(--bomb-bg-color) !important;
    border-radius: none !important;
    border-width: none !important;
    border-style: none !important;
}

.checked {
    color: var(--text-color) !important;
    border-radius: var(--checked-bord-radius) !important;
    border-width: var(--checked-bord-width) !important;
    border-color: var(--checked-bord-color) !important;
    border-style: var(--checked-bord-style) !important;
    background-color: var(--checked-bg-color) !important;
    transition: transform .3s, border-radius .3s;
}

.restart {
    background-color: var(--restart-bg-color); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.restart:hover {
    background-color: var(--restart-bg-color-hover); 
    color: white;
    transform: scale(1.1);
}